#top1 {
    text-align: center;
}
#top0 {
    margin:auto;
    margin-top: 40px;
}
#top2 {
    margin: auto;
    margin-top: 0;
    max-width: 500px;
    height: 500px;
    margin-bottom: 70px;
}
/* form */
#contact-form {
    display: grid;

}

label {
    float: left;
}

#title {
    font-size: 30px;
}
#text {
    font-size: 22px;
    height: 130px;
    max-width: 700px;
    margin: auto;
}
#contact-form {
    font-size: 18px;
}
.contact-label {
    font-size: 20px;
}
textarea {
    height: 200px;
    border: solid black 1px;
    background-color: rgb(243, 241, 236);
}
.text-input {
    background-color: rgb(243, 241, 236);
}

/* 992px */
@media(max-width: 992px) {
    #top-0 {
        margin-top: 0px !important;
    }
    #title {
        font-size: 20px !important;
    }
    #text {
        font-size: 18px !important;
    }
}
@media(max-width: 400px) {
    #text {
        height: 150px !important;
    }
}